<%- await include('templates/header.ejs') %>

<div class="container mt-4">
<h1> Estudiante </h1>
<form method="post">
	<div class="mb-3"> 
		<label for="name" class="form-label">Nombre</label>
		<input type="text" class="form-control" name="name" value="<%= estudiante.nombre %>">
	</div>
	<div class="mb-3"> 
		<label for="id" class="form-label">Código</label>
		<input name="id" class="form-control" value="<%= estudiante.id %>">
	</div>
	<div class="mb-3"> 
		<label for="correo" class="form-label">Correo</label>
		<input name="correo" class="form-control" value="<%= estudiante.correo %>">
	</div>
	<div class="mb-3"> 
		<label for="programa" class="form-label">Programa</label>
		<select name="programa" class="form-control" >
			<% for (const programa of programas) { %>
			<option value="<%= programa.id %>" <%= (programa.id == estudiante.id_programa) ? "selected" : "" %>> <%= programa.nombre %> </option>
			<% } %>
		</select>
	</div>
	<div class="mb-3"> 
		<label for="promedio" class="form-label">Promedio</label>
		<input name="promedio" class="form-control" value="<%= estudiante.promedio %>">
	</div>
	<div class="mb-3"> 
		<button type="submit" class="btn btn-primary">Enviar</button>
	</div>

</form>
</div>

<%- await include('templates/footer.ejs') %>
